/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --white-color: #fff;
  --blue-color: #30a2f9;
  --grey-color: #707070;
  --grey-color-light: #aaa;
}

body {
  background-color: #e7f2fd;
  transition: all 0.5s ease;
}
body.dark {
  background-color: #333;
}
body.dark {
  --white-color: #333;
  --blue-color: #fff;
  --grey-color: #f2f2f2;
  --grey-color-light: #aaa;
}

img{
  object-fit: cover;
}


/* navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  z-index: 1000;
  box-shadow: 0 0 2px var(--grey-color-light);
}
.logo_item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 20px;
  font-weight: 500;
  color: var(--blue-color);
}
.navbar img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

button{
  cursor: pointer;
}

.top-text{
  color: white;
  padding-inline: 1rem;
  padding-block: 0.4rem;
  border: 2px solid #707070;
  border-radius: 10px;
  background-color: #707070;
}

.navbar_content {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.navbar_content i {
  cursor: pointer;
  font-size: 20px;
  color: var(--grey-color);
}

/* sidebar */
.sidebar {
  background-color: var(--white-color);
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 80px 20px;
  z-index: 100;
  overflow-y: auto;
  box-shadow: 0 0 1px var(--grey-color-light);
  transition: all 0.5s ease;
}

.sidebar::-webkit-scrollbar {
  display: none;
}
.menu_content {
  position: relative;
}


.menu_items {
  padding: 0;
  list-style: none;
}
.navlink_icon {
  position: relative;
  font-size: 22px;
  min-width: 50px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  padding-top: 5px;
  border-radius: 6px;
}
.navlink_icon::before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 100px);
  left: -20px;
}
.navlink_icon:hover {
  background: var(--blue-color);
}
.sidebar .nav_link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--grey-color);
  white-space: nowrap;
}

.nav_link:hover {
  color: var(--white-color);
  background: var(--blue-color);
}

.item #active{
  color: #1285cb;
}

.submenu_item {
  cursor: pointer;
}
.submenu {
  display: none;
}
.submenu_item .arrow-left {
  position: absolute;
  right: 10px;
  display: inline-block;
  margin-right: auto;
}
.sidebar.close .submenu {
  display: none;
}
.show_submenu ~ .submenu {
  display: block;
}
.show_submenu .arrow-left {
  transform: rotate(90deg);
}
.submenu .sublink {
  padding: 15px 15px 15px 52px;
}

.space-1{
  padding-top: 5px;
}

.main-container{
  position: absolute;
  top: 2%;
  left: 260px;
  width: calc(100% - 260px);
  height: 98%;
  padding: 3.4rem 1rem 1rem 1rem;
}
 
.navbar_content a i{
  color: #f44040;
}

/* Login */
.login-container .heading h1{
  font-size: 2rem;
}

.centered-div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-container{
  width: 295px;
  background-color: #dbdbdb;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.logo-backdrop img{
  width: 33rem;
  height: 33rem;
  opacity: 0.1;
}
/* @media (min-width: 1300px) and (max-width: 2000px)  {
  .logo-backdrop img{
    width: 40rem;
    height: 40rem;
  }
} */

.heading{
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

input, textarea{
  display: block;
  width: 280px;
  border-radius: 5px;
  border: none;
}

select{
  display: block;
}

textarea{
  display: block;
  width: 100%;
  height: 100%;
}

.forms input{
  width: 235px;
  padding: 0.4rem;
  margin-bottom: 0.8rem;
  border-radius: 5px;
  border: none;
}


a{
  text-decoration: none;
  color: #e6e6ef;
}

.button{
  padding: 0.6rem;
  margin-top: 2rem;
  border-radius: 6px;
  text-align: center;
  background-color: #25a5f5;
  cursor: pointer;
}


/* main section */
.content{
  width: calc(100% - 30px);
  height: calc(100% - 135px);
  padding: 1rem;
  border-radius: 5px;
  color: white;
  background-color: #03213393;
}

.space-3{
  margin-top: 1.4rem;
}

.space-3 a{
  margin-right: 0.5rem;
}

.create, .manage{
  position: absolute;
  top: 20%;
}

@media (min-width: 1300px) {
  .create, .manage{
    top: 18%;
  }
}

@media (min-width: 1500px) {
  .create, .manage{
    top: 12%;
  }
}

.manage-btn, .create-btn{
  margin-top: 18px;
}


.btn{
  border: none;
  border-radius: 5px;
  margin-top: 0.8rem;
  padding: 0.6rem 1.5rem ;
  background-color: #25a5f5;
  color: white;
  cursor: pointer;
}

.btn:hover{
  background-color: #1285cb;
  transition: all ease-in 200ms;
}

form input{
  padding: 0.4rem;
}

textarea, input{
  margin-bottom: 1rem;
}

textarea:focus, input:focus,
.forms input:focus{
  outline: none;
  border: 1.5px solid #30a2f9;
  transition: all ease-in 50ms;
}

/* Table css */
table {
  border: 1px solid #bcbbbb;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.table-wrapper {
  max-height: 400px; /* Set your desired scroll height */
  overflow-y: auto;
}

@media (min-width: 1300px) {
  .table-wrapper{
    max-height: 640px;
  }
}

@media (min-width: 1500px) {
  .table-wrapper{
    max-height: 840px;
  }
}



thead th {
  position: sticky;
  top: 0;
  background: #fff; /* Match your background color */
  z-index: 10;
  text-align: left;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  word-wrap: break-word;
}

td button {
  white-space: nowrap;
}


table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #d1d0d0;
  padding: .35em;
}

table tr:nth-child(even){
  background-color: rgb(227, 227, 227) !important;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  color: #333;
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
  background-color: #d6d6d6;
}

td{
  color: #707070;
}

.Image img{
  width: 4rem;
  height: 4rem;
  border-radius: 5px;
}

/* .hero table th:first-child{
  width: 2.5rem;
} */

/* 
.hero table th:last-child{
  width: 5rem;
}

.hero table th:nth-child(5){
  width: 7rem;
} */

.active-btn{
  padding: 0.5rem;
  color: green;
  background-color: #52f9ae;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.active-btn:hover{
  background-color: #07d478;
  transition: all ease-out 200ms;
}

.action-btn{
  padding: 0.5rem;
  border: none; 
  background-color: #e0e0e0;
  border-radius: 2px;
}
.action-btn:hover{
  background-color: #d5d5d5;
  transition: all ease-out 200ms;
}

#info-btn{
  inset: unset;
  position: right;
  /* bottom: anchor(top); */
  left: anchor(center);
  translate: -122%;
  border: none;
  background-color: #bfbfbf;
  padding: 0.4rem;
  border-radius: 5px;
}

.crud{
  display: grid;
  place-content: center;
}

.view, .edit, .delete{
  width: 70px;
}

.view, .edit{
  margin-bottom: 4px;
}

.view a, .edit a, .delete a{
  width: 70px;
  padding-block: 0.2rem;
  padding-inline: 0.8rem;
  font-size: 0.8rem;
  color: white;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  margin-bottom: 4px;
}

.btn-blue{
  background-color: #1285cb;
}

.btn-red{
  background-color: #cb1215;
}

.view button:hover, .delete button:hover{
  opacity: 0.8;
  transition: all ease-out 200ms;
}

/* .edit{
  margin-bottom: 4px;
} */

.delete{
  margin-top: 4px;
}

#mypopover{
  max-width: 500px;
  max-height: 500px;
  overflow: auto;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,50%);
}

#mypopover::backdrop {
  background-color: rgba(0, 0, 0, 0.507);
}

.services .img{
  margin-top: 4px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 80px);
  gap: 1rem;
}

.max-w{
  max-width: 300px;
}

.max-h{
  max-height: 300px;
  overflow-y: auto;
}

.grid-6{
  position: absolute;
  top: 80%;
  left: 45%;
}

.grid-r2s2{
  grid-row-start: 2;
  grid-row: span 2;
  grid-column: span 2;
}

.col-span2{
  grid-column: span 2;
}

.col-span3{
  grid-column: span 3;
}

.row-span2{
 grid-row: span 2;
}

.row-span3{
 grid-row: span 3;
}

.small-grid{
  min-width: 200px;
}

/* ckeditor */
/* .ck-editor__editable {
  user-select: text !important;
  white-space: normal !important;
  caret-color: auto !important;
  pointer-events: auto !important;
} */

/* Target the editable area of CKEditor only for sizes */
.ck-editor__editable {
  color: #707070 !important;
}

.m-size + .ck.ck-editor .ck-editor__editable {
  height: 150px;
  max-height: 150px;
}

.d-size  + .ck.ck-editor .ck-editor__editable {
  max-height: 150px;
}

.l-size  + .ck.ck-editor .ck-editor__editable {
  height: 230px;
  max-height: 230px;
}